{#include main.html }
{#title}Todos{/title}

<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Task</th>
      <th scope="col">Action <a href="{uri:Todos.pdf}" title="Download as PDF" class="float-end text-reset"><i class="bi bi-filetype-pdf"></i></a></th>
    </tr>
  </thead>
  <tbody>
    {#for todo in todos}
    <tr {#if todo.done}class="table-secondary"{/if}>
      <th scope="row">{todo.id}</th>
      <td>
        {#if todo.done}
          <del>{todo.task}</del> (done {todo.doneDate.since})
        {#else}
          {todo.task}
        {/if}
      </td>
      <td>
      {#form uri:Todos.done(todo.id) class="inline"}
        {#if todo.done}
          <button type="submit" class="btn btn-warning" title="Mark as undone"><i class="bi-arrow-counterclockwise"></i></button>
        {#else}
          <button type="submit" class="btn btn-success" title="Mark as done"><i class="bi-check"></i></button>
        {/if}
      {/form}
      {#form uri:Todos.delete(todo.id) class="inline"}
        <button type="submit" class="btn btn-danger" title="Delete"><i class="bi-trash"></i></button>
      {/form}
      </td>
    </tr>
    {/for}
    <tr>
      <th scope="row">New</th>
      <td>
      {#form uri:Todos.add()}
        {#input name="task" placeholder="Type task and press ENTER" autofocus=true/}
      {/form}
      </td>
      <td></td>
    </tr>
  </tbody>
</table>

{/include}