{#include main.html}
{#title}Todo page{/title}

<table class="table">
 <thead>
  <th>ID</th>
  <th>Todo</th>
  <th>Actions</th>
 </thead>
 {#for todo in todos}
  <tr>
   <td>{todo.id}</td>
   <td>
     {#if todo.done}
       <del>{todo.task} ({todo.doneDate.since})</del>
	{#else}
		{todo.task}
	{/if}
   </td>
   <td>
      {#form uri:Todos.delete(todo.id)}
	    <button class="btn btn-danger">DELETE</button>
		{/form}
      {#form uri:Todos.done(todo.id)}
	    {#if todo.done}
	      <button class="btn btn-primary">Undo</button>
		{#else}
	      <button class="btn btn-success">Done</button>
		{/if}
		{/form}
	  
   </td>
  </tr>
 {/for}
  <tr>
   <td colspan="3">
   {#form uri:Todos.add()}
     {#field name="task" label="Task" placeholder="Enter new todo"/}
   {/form}
   </td>
  </tr>
</table>
{/include}