{#include main.html }
{#title}Complete registration{/title}

{#form uri:Register.completeOidc(newUser.authId)}

<fieldset>
    <legend>Complete registration for {newUser.email}</legend>
    {#formElement name="userName" label="User Name"}
        {#input name="userName"/}
    {/formElement}
    {#formElement name="firstName" label="First Name"}
        {#input name="firstName" value=newUser.firstName/}
    {/formElement}
    {#formElement name="lastName" label="Last Name"}
        {#input name="lastName" value=newUser.lastName/}
    {/formElement}
    <button type="submit" class="btn btn-primary">Complete registration</button>
</fieldset>

{/form}
{/include}