{#include main.html }
{#title}Complete registration for {user.email}{/title}
{#moreScripts}
    {#webAuthnScript/}
{/moreScripts}

  {#form uri:Login.complete(user.confirmationCode)}

	  {#formElement name="username" label="Username"}
	    {#input name="username" value=user.username/}
	  {/formElement}
	  {#formElement name="firstname" label="First name"}
	    {#input name="firstname" value=user.firstname/}
	  {/formElement}
	  {#formElement name="lastname" label="Last name"}
	    {#input name="lastname" value=user.lastname/}
	  {/formElement}
      {#if !user.authId}
	  {#formElement name="password1" label="Password" class="input-group"}
	    {#input name="password1" type="password"/}
        {#webAuthnRegistrationButton/}
	  {/formElement}
	  {#formElement name="password2" label="Repeat Password"}
	    {#input name="password2" type="password"/}
	  {/formElement}
      {/if}
    <button class="btn btn-primary">Create account</button>
	{/form}

{/include}