{#include main.html}
{#title}Confirm{/title}
{#moreScripts}
 {#webAuthnScript /}
{/moreScripts}

{#fieldset legend="Confirm"}
 {#form uri:Login.doConfirm(user.confirmationCode)}
  {#field name="username" label="User name" value=user.username/}
  {#field name="firstname" label="First name" value=user.firstname/}
  {#field name="lastname" label="Last name" value=user.lastname/}
  {#if !user.authId}
  {#field name="password1" label="Password" type="webauthn-registration"/}
  {#field name="password2" label="Repeat Password" type="password"/}
  {/if}
  <button class="btn btn-primary">Create user</button>
 {/form}
{/fieldset}
{/include}