{#include main.html}
	{#title}Login{/title}

<div class="row">
  <div class="col-md-2">
    {#fieldset legend="Login/Register"}
		{#oidc /}
	{/fieldset}
  </div>
  <div class="col-md-5">
    {#fieldset legend="Login"}
    	{#form uri:Login.doLogin()}
	        {#field label="Username" name="username"/}
	        {#field label="Password" name="password" type="webauthn-login"/}
     	    <button class="btn btn-primary">Login</button>
	    {/form}
    {/fieldset}
  </div>
  <div class="col-md-5">
    {#fieldset legend="Register"}
    	{#form uri:Login.register()}
	        {#field label="Email" name="email"/}
     	    <button class="btn btn-primary">Register</button>
	    {/form}
    {/fieldset}
  </div>
</div>
{/include}